#imageS {
  border: 20px solid darkred;
}

ol {
  color: white;
}

body {
  background-image: url("http://backgroundsarchive.com/images/pub/49/49497av0yqku2ki.jpg");
}

.container-fluid {
  margin: 0 auto
}

#facts {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  #facts {
    width:100%;
    margin: auto;
  }
}
