<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="pomodoro_clock.css">
</head>
<body>
  <div class="container-fluid">
  <a href="/"><p class="text-primary" style="font-weight:bolder; font-size:20px" align="left">Home</p></a>
  <h1 class="text-center" style="color:black">Pomodoro Clock</h1>
  <div class="row">
  <div class="col-xs-6 text-center" style="color:black">Break Length
  </div>
    <div class="col-xs-6 text-center" style="color:black">
    Work Length</div>
  </div>
  <div align="left" id="left-well" class="row">
  <div class="col-xs-6">
  <button id="addB" style="background-color:green">+</button>
  <div id="break-well" class="well">10</div>
  <button id="subtractB" style="background-color:red">-</button>
  </div>
  <div align="right" id="right-well" class="col-xs-6">
  <button id="addW" style="background-color:green">
    +</button>
  <div id="work-well" class="well">20
  </div>
  <button id="subtractW" style="background-color:red">-</button>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-6">
  <button id="breakSS" class="btn btn-block" style="background-color:blue;color:white">Start</button>
  </div>
    <div class="col-xs-6">
      <button id="workSS" class="btn btn-block" style="background-color:blue;color:white">Start</button>
    </div>
  </div>
  <div id="alert" class="row well">
  </div>
  <a href="/"><p class="text-primary" style="font-weight:bolder; font-size:20px" align="right">Home</p></a>
  {{> footer}}
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="pomodoro_clock.js"></script>
</body>
</html>
