.right-well {
 align:right;
 background-color:red;
}
#alert {
  margin-top:50px;
}

body {
  background-image: url("https://previews.123rf.com/images/elen1/elen11412/elen1141200043/34754401-rock-abstract-neutral-wall-background-Stock-Photo.jpg");
}
