<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}}</title>
</head>
<body>
{{> header}}
<div class="container-fluid">
<h1 class="text-center">My Portfolio
</h1>
</div>
  <h2 id="about" class="text-center">About Me
  </h2>
  <p1>
My name is David Amanze. I am a self-taught developer with the help and guidance of the free code camp community.  I currently know html, css, javascript, and have experience with libraries including bootstrap and jqery. I earned my front end developing certificate from free code camp and I am currently learning node.js. I want to apply the skill sets I currently have in real world problems while learning backend.
  </p1>
  <h2 id="projects" class="text-center">
  My Projects
  </h2>
<div class="row">
<img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5738306743828480.png?k=4gafsHy8iaCXIWjoPfFbaOIHZlA" alt="kevin hart project">
  <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5420592108142592.png?k=YrMATxMFJvVtYK87-DmrQgaTvb4" alt="pomodoro clock project">
  </div>
  <div class="row">
  <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5192469013856256.png?k=cOfTfFDvmDxRDeKDZFCmybKmYTA" alt="tic-tac-toe project">
  <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5711502121369600.png?k=GVtepMiThzbEvNu3ifYaAD-0tE4" alt="calculator project">
  </div>
  <div class="row">
  <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/4855459371810816.png?k=10kuxy66xOEqtyRbI51obJ7Vgnw" alt="random quote generator project">
 <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/6424345997213696.png?k=d1Uc0Xw1zIa4yexjie8_TVIdDCU" alt="Today Temperature project">
  </div>
  <div class="row">
 <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/6584329938665472.png?k=n3nDWn9TiIS9PdiyjqRRxWijw2o" alt="wiki entries project">
 <img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5523772120760320.png?k=La909-vR8O4LGPJ-1FFkneGCo0w" alt="simon game project">
  </div>
 </div>
{{> footer}}
</body>
</html>
