<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
<div class="container-fluid">


<nav class="navabar navbar-default navbar-fixed-top" style="background-color: white; color:red">
<div class="container">
  <ul class="nav navbar-nav">
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#skills">Skills</a></li>
  </ul>
</div>
</nav>

<div id="about" class="row">
<div  class="col-xs-6" style="padding: 30px">
<h2  class="text-center">About Me</h2>
<p1>
My name is David Amanze. I am a self-taught fullstack developer with guidance from the wonderful people at free code camp. Like most I started coding as a hobby but soon found myself not being able to go a day without writing a line of code. I have experience with front end technologies and back end technologies with Node.Js being the focus. I earned my front end developing certificate from free code camp and my Node.JS certificate from Udemy
</p1>
</div>

<div class="col-xs-6" style="padding:30px">
  <h2 class="text-center" >About Project</h2>
  <p1>The projects were created using mostly HTML, CSS, JavaScript, and jQuery then I pushed the repository using Git and Github and finally deployed to Heroku. You can view my front end as well as my backend projects by clicking <a target="_blank" href="https://github.com/GodKingShogun">here</a></p1>
</div>
</div>

<div style=" padding: 30px" id="projects">
<h2 class="text-center">My Projects</h2>
<div class="row">
 <a href="/kevin_hart"><img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5478732665192448.png?k=EyAwyC2NLLxz7KbT9AxrOxV9oCQ" alt="kevin hart project"></a>
  <a href="/pomodoro_clock"><img class=" thumbnail col-xs-4 col-xs-offset-2" src="http://www.clipular.com/c/4977260538101760.png?k=zgqxsVedLFfAkiA9iFPDL5XDMho" alt="pomodoro clock project"></a>
</div>
<div class="row">
 <a href="/tic_tac_toe"><img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5351007250022400.png?k=5sgKzym_yLaRiM5OEorO60xQnDU" alt="tic-tac-toe project"></a>
 <a href="/calculator"><img class="thumbnail col-xs-4 col-xs-offset-2" src="http://www.clipular.com/c/4824459694571520.png?k=mGwAgkK1S6VxfyhJBXjCeRTrD4Q" alt="calculator project"></a>
</div>
<div class="row">
<a href="/weather_app"><img class="thumbnail col-xs-4 col-xs-offset-1" src="http://www.clipular.com/c/5922302861770752.png?k=pq_aI4xiFj0jdwJHp-U7PWHjsjU" alt="Today Temperature project"></a>
<a href="/simon_game"><img class="thumbnail col-xs-4 col-xs-offset-2" src="http://www.clipular.com/c/6251952607592448.png?k=y6BVE46-oGmUgzEGge8on86y3k0" alt="simon game project"></a>
</div>
</div>

<div id="skills" class="row" style="background-color:white; color: red; padding: 30px">
  <h2 class="text-center">My Skills</h2>
<div  class="col-xs-6">
<h3 class="text-center">Front End Skills</h3>
<ul class="skillsContainer">
  <li class="skillItem">HTML</li>
  <li class="skillItem">CSS</li>
  <li class="skillItem">JavaScript</li>
  <li class="skillItem">jQuery</li>
  <li class="skillItem">Bootstrap</li>
  <li class="skillItem">Flexbox</li>
  <li class="skillItem">Font-Awesome</li>
  <li class="skillItem">ES6</li>
</ul>
</div>

<div class="col-xs-6">
  <h3 class="text-center">Back End Skills</h3>
  <ul class="skillsContainer">
    <li class="skillItem">Node.JS</li>
    <li class="skillItem">Yarn</li>
    <li class="skillItem">Git</li>
    <li class="skillItem">Github</li>
    <li class="skillItem">Heroku</li>
    <li class="skillItem">MongoDB</li>
    <li class=skillItem>Mongoose</li>
    <li class="skillItem">Express</li>
    <li class="skillItem">AJAX</li>
    <li class="skillItem">Rest API</li>
    <li class="skillItem">JSON</li>
    <li class="skillItem">Mocha</li>
  </ul>
</div>

</div>
{{> footer}}
</div>
</body>
</html>
