@import url('https://fonts.googleapis.com/css?family=Teko');

.container-fluid {
  margin: 0 auto;
}

.thumbnail {
  height:auto;
}

body {
background-color: darkred;
font-family: "teko" ,san-serif;
color: white;
}

p1 {
  font-size: 18px;
text-align: center;
}


@media only screen and (min-device-width: 300px) {
  body {
    background-color: "black";
  }
}
