@import url('https://fonts.googleapis.com/css?family=Teko');


.container-fluid {
  margin: 0 auto;
}

.thumbnail {
  height:auto;
}

body {
background-color: darkred;
font-family: "teko" ,san-serif;
color: white;
/*padding-top: 70px;*/
}

nav {
  position: fixed;
  top: 0;
  right:0;
  font-size: 18px;
  z-index: 3;
}

p1 {
font-size: 18px;
text-align: center;
}


@media only screen and (min-device-width: 768px) {
  ul li {
    float: left;
    width: 33.33%;
  }
}



/*.skillsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 20px;
}*/
/*
.skillItem {
  width: 35%;
  flex: 0 0 auto;
}*/

/*@media only screen and (min-device-width: 300px) {
  body {
    background-color: "black";
  }
}*/
