body {
background-image: url("http://wallpapercave.com/wp/JS9wRiY.jpg");  
}

.btn {
  padding: 25px !important;
  color:white;
  background-color: firebrick;
}

.well {
  width: 300px;
  border: 10px solid black;
}
