<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}}</title>
<script src="https://use.fontawesome.com/887d864448.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="weather_app.css">
</head>
<body style = 'background-image: url("http://cdn.wallpapersafari.com/83/60/wTpAe7.jpg")'>
<div class="container-fluid">
  <a href="/"><p class="text-primary" style="font-weight:bolder; font-size:20px" align="left">Home</p></a>
  <h1 class="text-center" style="color:white">Today's Forcast</h1>
  <center>
  <div class="well" style="width:240px; height:200px">
    <div class="container">
  <div id="celsius" class="well temp" style="font-size:12px; width:70px; height:50px">
  </div>
    <div class="well temp" style="width:30px; height:50px">
<i class="fa fa-eercast fa-spin">
</i>
    </div>
    <div id="convert" class="well temp" style="width:50px; height:50px">
      C
    </div>
  </div>
  <button id="conT" style="margin-top: 30px" align="middle" class="btn btn-primary">Fahrenheit</button>
</div>
<button id="getW" class="btn btn-primary">Get Weather</button>
</center>
<div id="error" style="margin-top:50px; color:white"></div>
<a href="/"><p class="text-primary"  style="font-weight:bolder; font-size:20px" align="right">Home</p></a>
{{> footer}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="weather_app.js"></script>
</body>
</html>
